.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cornflowerblue;
  width:225px;
  height:350px;
}

.item {
  width: 225px;
  height: 225px;
}

.green{
  order: -1;
background-color:green;
width: 225px;
height: 25%;
}

.yellow{
  order: 1;
background-color: darkgoldenrod;
width: 225px;
height: 50%;
}

.purple{
  order: 0;
background-color: fuchsia;
width: 225px;
height: 25%;
}