<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Greetings</title>
</head>

<body>
  <h1> Things to do today:</h1>
  <p>
    <ul>
      <% todos.forEach(function(item){ %>
        <li><%= item %></li>
      <% }); %>
    </ul>
  </p>
</body>

</html>